h1{
    margin-left: 350px;
    color:aquamarine;
}
body {
        padding-left: 400px;
        background-color:darkslategrey;
}



.navbar {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
    margin-left: -500px;
 }
 
 nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
 }
  
 img {
    width: 60px;
 }
  
 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }
  
 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }
 
script {
    margin-left: 750px;
}