h1{
    margin-left: 350px;
    color:rgb(3, 112, 76);
}
body {
        padding-left: 400px;
        background: linear-gradient(180deg, rgb(23, 182, 148) 0%, hsl(196,90%,50%) 100%);
}



.navbar {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
    margin-left: -500px;
 }
 
 nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
 }
  
 img {
    width: 60px;
 }
  
 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }
  
 a {

    width: 20%;
    text-align: center;
    text-decoration:none;
 }
 
script {
    margin-left: 750px;
}

.col{
   color:aquamarine
}

nav {
   padding: 5px;
   display: flex;
   justify-content: space-around;
}
.drop-element {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:orange; 
   background-color: Transparent;
   font-size: 32px;
}

.about-content {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   display: none; 
   position: absolute;
   background-color:aquamarine;
   min-width: 100px; 
}
a:visited { 
   text-decoration: none; 
   color: orange; 
  }

.about-content a {
   color: black; 
   padding: 12px 36px; 
   text-decoration:none;
   display: block;
}

.about-content a:hover {
   background-color: turquoise;
}

.dropdown:hover .about-content {
   display: block;
   font-size: 20px;

}